html{
  font-family: BrandonText,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.session_form{
  display: flex;
  padding: 1.875rem 1rem;
  background-color: #FFF;
  height: 100%;
  border-bottom: 30px;
  border-top:20px;
  flex-direction: column;
  justify-content: space-between;
  width: 96%;
}
.session_form fieldset{
  height: 95%;
}
.session_form .sign_h{
  padding-bottom: 5px;
  border-bottom: solid rgba(0,0,0,.12);
  border-bottom-width: 1px;
}
.session_form label{
  display: flex;
  padding: 5%;
  margin-bottom: 5%;
  border: solid rgba(0,0,0,.12);
  border-width: 1px;
  
}
.session_form label input{
  padding-left: 10px;
}
.session_form h1{
  padding: 2%;
  color:#333;
  font-weight: 700;
  margin: 0 0 .2rem;
  text-overflow: ellipsis;
  overflow: hidden; 
  font-size: medium;
 
}

.session_form button{
  margin-top: 5%;
  padding-top:15px;
  padding-bottom:15px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #da3743;
  border-color: #b8222d;
  border-radius: 3px;
  font: BrandonText;
  color: white;
  font-size: larger;
  width: 100%;
}
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 30%
}
.header{
  margin: 20px;
}
.header-link h1 {
  display: flex;
  font-family: BrandonText;
  float: left;
  padding: 1px 6px;
  font-weight: bolder;
  font-size: large;
}

.login-signup{
  display: flex;
  justify-content: flex-end;
}
.login-signup button{
  display: flex;
  font: 14px;
  font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
  height: 32px;
  width: 77px;
  justify-content: center;
}

.login-signup button:first-of-type{
  display: flex;
  border-radius: 3px;
  background-color: #237b98;
  padding: 1px 6px;
  color: #FFF;
}
.form-control{
  position: relative;
  font-family: BrandonText,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-appearance: menulist-button;
  height: 50px;
  border-color: rgba(0,0,0,.12);
  }

  select{
    background-color: #FFF;

  }

.form-control select{
  display: none;
  color: #FFF;
}

.select-selected{
 background-color: rgb(252, 248, 248);
 padding: 8px 16px;
 height: 10%;
 
}
.select-selected:after {
 display: none;
 }
 .select-items{
  position: absolute;

 }
 .select-hide {
  display: none;
}