.Sure{
  font-size: 25px;
  margin-left: 5%;
  padding: 4%;
  border: grey solid 10px;
}

.deleteIt button{
  font-size: 19px;
  margin-left: 10%;
  margin-top: 4%; 
  padding: 2%;
  border-radius: 10%;
}

.deleteplz{
  background-color: rgb(98, 194, 98);
  margin-right: 3%;
}
.deleteplz:hover{
  background-color: rgba(72, 169, 72, 0.625);
}

.dontdelete{
  background-color: rgb(179, 28, 28);
}
.dontdelete:hover{
  background-color: rgb(128, 52, 52);
}