.deleteIt{
  background-color: white;
}
.Sure{
  margin-left: 5%;
  padding: 4%;
  font-size: 2.25rem;
  font-weight: 600;
  color: #2d333f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.headerdelete{
  margin-left: 8%;
  margin-top: 8%;
}
.deleteIt button{
  font-size: 19px;
  padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 1rem;
  border-radius: 3%;
  background-color: #da3743;
  text-align: center;
  color: #fff;
  border-color: #b8222d;
  width: 100%;
  margin: 1rem;
  width: 20%;
  margin-left: 8%;
}
.deleteIt button:hover{
  background-color: #b8222d;
}
.deleteIt img{
  width: 30%;
  height: 100%;
}

.detailed{
  display: flex;
  margin-left: 8%;
  margin-bottom: 4%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.detailed div{
  margin:3%;
}
.headerdelete {
  display: flex;
}
.detailed div > div{
  margin-top: 18%;
  font-weight: 600;
}