.main.home .formFilter label{
  margin: 0 0 16px;
  font-size: 48px;
  line-height: 56px;
  font-family: sans-serif;
  font-weight: 700;
  color: #fff;  
  -webkit-font-smoothing: antialiased;  
  /* text-shadow: 1px 1px 1px black; */
}
.main.home .searchy{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: 50%;
  min-height: 26rem;
  position: relative;
  text-align: center;
}
.main.home .searcher{
  margin-top: 10%;
}
.main.home .formFilter{
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 26rem;
  position: absolute;
  opacity: 1;
  background-image: linear-gradient(90deg,rgba(47,45,65,.7),rgba(47,45,65,.7)), url(https://openplaybill-seeds.s3.amazonaws.com/FullStackPhotos/broadway.jpg);  
  text-align: center;
  width: 100%;
}
.main.home .cal input{
flex-direction: row-reverse;

}
// i.far.fa-calendar{
//  background: transparent;
// //  position: absolute;
//  padding-left: 1%;
// }

.partys-drop{
 border-top-left-radius: 0px;
 border-bottom-left-radius: 0px;
}

.far.fa-user{
border-radius: 0px;
}
.texting{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
 }
.main.home .fillin{
  display: flex;
  flex-direction: row;
  padding-right: 1.5%;
}

.main.home .fillin{
  /* display: flex;
  justify-content: space-around; */
  display: flex;
  // position: absolute;
  /* left: 150px; */
  left: 5%;
  
  height: 50px;
}


.fillin > *{
  display: flex;
  align-items: center; 
  background-color: white;
  height: 50px;
  border-radius: 3px;
  font-size: 20px;
  justify-content: space-around; 
  
}
.main.home .fillin input{
  font-size: 17px;
 }
 .main.home .fillin select{
  font-size: 17px;
 }
  .partytime{
    font-size: 17px;
  }
  .main.home .texting {
  font-size: 17px;
  width: 40%;
}
.clocked, .partytime{
  background-color: white;
  padding-left: 2.5%;
}

.time-drop{
  background-color: white;
  padding-left: 1.5%;
  border:none;
}

.texting{
  // margin-left: 5%;
  // display: flex;
  align-items: center; 
  background-color: white;
  height: 50px;

  border-radius: 3px;
  font-size: 15px;
}


.main.home input{
  display: flex;
  // width: 100%;
  font-weight: 500;
  color: #2d333f
}

 .formFilter button{
  /* margin-top: 20%;
  padding-top:15px;
  padding-bottom:15px;
  margin-left: 30%; */
  // display: flex;
  justify-content: center;
  text-align: center;
  background-color: #da3743;
  border: #b8222d solid;
  border-radius: 3px;
  font: BrandonText;
  color: white;
  font-size: larger;
  white-space: nowrap;
  min-width: 19%;
  width: 144px;
  height: 50px;
}
.formFilter button text{
  padding-top: 5%;
}
.main.home .lineup{
  display: flex;
  align-items: center; 
  background-color: white;
  width: 90%;
  margin-left: 5%;
  top: 30%;
  border-radius: 5%;
}

.main.home .lineup input.texting:focus{
  border-radius: 0px;
  border: rgba(0, 0, 0, 0.536) solid;
}
.main.home .date{
  width: 30%;
  border-left: thin rgb(206, 206, 206);
}

.main.home .sidebar{
  display: none;
  
}
.home ul{
  display: flex;
  margin-left: 5%;
  width: 80%;
  // width: 100%;
}
.home .profile {
  width: 1%;
}

.home .profilep{
  border-radius: 4px;
  cursor: pointer;
  height: 5%;
  align-content: center;
}
.home .underplz{
  margin-top: 75%;
}

.home .row{
  flex-direction: row;
  padding-top: 1%;
  width: 18%;
  display: initial;
  padding: .8%;
 }
 .home .row a{
  height: 100%;
  width: 90%;
 }


 .home .title{
   font-size: 16px;
 }

.home .homey{
  border-bottom: .0625rem solid #d8d9db;
    padding-bottom: 16px;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    margin-left: 5%;
}

.extraExtra {
  display: flex;
  font-size: 12px;
  margin: 0 6px 8px;
  color: #2d333f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
}

.extraExtra p {
  padding-right: 3px;
}

.main.home .homeMusicals .homeindex{
  display: none;
} 