.ResDropdwn{
z-index: 11;
font-size: 24px;
}

.dropdown-resvs{
  position:relative;
}
.dropdown-resvs button{
  cursor: pointer;
}
.header-group{
  flex-direction: column;
  margin-left: 60%;
}
.logout-plz{
  margin-left: 50px;
}

.ResDropdwn {
  position:relative;
  flex-direction: column;
 }
 .horizontal-greeting{
   display: flex;
  flex-direction: row;
  }
.ResDropdwnHide .dropdown-resvs{
  list-style:none;
  padding:0px;
  border-radius: 2px;
  margin: 0px;
}
.horizontal-greeting .header-name{
  padding-left: 10px;
}

.ResDropdwn .dropdown-resvs{
  display: none;
  position: absolute;
  min-width: 200px;
}

.ResDropdwn:hover > .dropdown-resvs{
  display: block;
}

.dropdown-resvs{
  background: #fff;
  box-shadow: 0 0 0 0.0625rem rgba(0,0,0,.1);
  margin: .125rem;
  border-radius: .1875rem;
  padding-bottom: 0.5px;
}
.upcoming-list{
text-transform: uppercase;
color: #666;
font-size: .875rem;
padding: 1rem;
border-bottom: .0625rem solid rgba(0,0,0,.12);
white-space: nowrap;
font-weight: 500;
}
.calendar-drop {
  margin-top: 80%;
}

.list-res-musical {
  color: #237b98;
}
.details-res{
  color: #666;
  font-size: .875rem;
}

.resInfodop{
  padding: 0 1rem 1rem 1rem;
  border-bottom: .0625rem solid rgba(0,0,0,.12);
}
.links{
  margin-top: .6rem;
  font-size: medium;
  color: #237b98;
}

.date-time-drop{
  padding-top: 3px;
  display: flex;
}
.date-time-drop div{
  margin-left:3px;
}
.view-all{
  margin: 1rem;
  border-radius: .1875rem;
}
.view-all div{
  font-weight: 500;
}
.dropdown-resvs a{
  background: #fff;
  // margin: .125rem;
  // border-radius: .1875rem;
}

.dropdown-resvs a div{
  margin-left: 1rem;
  color: #237b98;
}

.header{
  justify-content: space-between;
}