.confirmed .greenConfirm{
  display: flex;
    margin-left: 5%;
    background: #55b68d;
    color: white;
    padding: 2%;
    margin-bottom: 3%;
    margin-right: 3%;
    font-size: 12px;
    margin-bottom: 3%;
    border-bottom: solid rgba(0,0,0,.12);
    border-bottom-width: 1px;
}

.confirmed .InfoDone{
  margin-left: 8%;
}
.confirmed .done{
  margin-left: 2%;
  margin-top: 1.5%;
}
.mNameDone{
  padding-left: 2%;
}
.confirmed .people{
  margin-top: 4%;
    margin-left: 36%;
    display: flex;
}
.InfoHead{
  display: flex;
}
.listconfirminfo{
  display: flex;
    margin-left: 36%;
    margin-top: -3%;
}
.listconfirminfo div{
  display: flex;
}
.greenConfirm i{
  font-size: 50px;
}
.InfoHead{
  padding-top: 3%;
  border-top: solid rgba(0,0,0,.12);
  border-top-width: 1px;
}

.InfoDone{
  border-bottom: solid rgba(0,0,0,.12);
  border-bottom-width: 1px;
  padding-bottom: 3%;
}

.InfoDone button{
  font-size: 15px;
  padding: 2%;
  margin-bottom: 3%;
}

.InfoDone a{
  font-size: 15px;
  padding: 2%;
  margin-bottom: 3%;
}